<script>
  $(document).ready(function () {
    this_page = $(".vmargin-dss")
      .first()
      .data("page");
    console.log(this_page);

    $(".card").flip({ axis: 'y' });
    console.log("doc read welcome");
    if (this_page == "welcome") {
      // convert keycaps to actual keys
      $(".interface-1").each(function (i, val) {
        str = $(".interface-1").eq(i).text() + "";
        str = str.trim();
        // $("#interface-x").text(str);
        temp_var = str;
        keyarray = temp_var.split(", ");
        temp_var2 = "";
        $.each(keyarray, function (i, val) {
          temp_var2 = temp_var2 + ConvertKeyCaps(val);
        });
        $(".interface-1").eq(i).text("");
        $(".interface-1").eq(i).append(temp_var2);

        // IDE
        hljs.initHighlightingOnLoad();
        hljs.initHighlighting();
      });
    };
  });
</script>
<script>
  $(document).ready(function () {
    var stack = $('.stack').paperstack({});
    console.log("stacking cards.");
    $('#next').click(stack.next);
    $('#prev').click(stack.previous);
  });
</script>

<div class="hero-body container">
  <div class="columns">
    <div class="column left is-7-desktop">
      <h1 class="title is-size-2-mobile is-1 has-text-white">Home</h1>
      <p>
        <span class="subtitle is-2 has-text-white">Review:</span>
        <button class='button has-text-weight-bold is-success ml-20'>Today's Cards</button>
        <button class='button has-text-weight-bold is-info ml-20'>A Cheat Sheet</button>
        <button class='button has-text-weight-bold is-warning ml-20 mb-100'>A Specific Topic</button>
      </p>
    </div>
    <div class='vmargin-dss hero-body container' data-page="<%= controller.controller_name %>">
      <div class="column  is-4-desktop  ">
        <div class="is-size-5 mt-60">
          <a id="prev"><button class='button has-text-weight-bold is-success ml-20'>
            <i class="fa fa-angle-left"></i></button> </a>
          <a id="next"><button class='button has-text-weight-bold is-success ml-20'>
            <i class="fa fa-angle-right"></i></button> </a>
        </div>
        <div id="" class="stack-holder">
          <div class="stack">
            <% @cards.limit(6).each do |card| %>
              <div class=" sheet">
                <div class="front">
                  <header class="card-header has-background-dark has-text-white-bis">
                    <p class="card-header-title has-text-white-bis">
                      <%= card.question %>
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content front-content">
                      <% if card.interface == 1 %>
                      <div class="interface is-size-5 pl-20 pt-20 pb-20 testarea keyboard">
                        <div class="testscale">
                          <div class='interface-1'>
                            <%= card.keycaps %>
                          </div>
                        </div>
                      </div>
                      <% elsif card.interface == 2 %>
                      <!-- terminal -->
                      <pre><code class="shell">
                <%= card.answer %>
                              </code></pre>
                      <% elsif card.interface == 3 %>
                      <!-- IDE value must be flush left...-->
                      <pre><code class="css">
                <%= card.answer %>
                                </code></pre>
                      <% end  %>
                    </div>
                  </div>
                </div>
                <div class="back">  
                  <div class="card-content">
                    <div class="content back-content">
                      <% if card.description.length > 10 %>
                      <div class='is-size-6 has-text-grey-dark is-uppercase pt-20'>Notes:</div>
                      <div class='notes-area'>
                        <%= card.description %>
                      </div>
                      <% end %>
                      <% if !card.mnemonic.nil? %>
                      <div class='is-size-6 has-text-grey-dark is-uppercase pt-20'>Mnemonic:</div>
                      <div class='mnemonic-area'>
                        <%= card.mnemonic %>
                      </div>
                      <% end %>
                      <div class='citation-area pt-20'>
                        <%= link_to card.citation_title, card.citation_url, target: "_blank", class: "is-size-7 hast_text-success is-capitalized is-italic" %>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="field has-addons mt-20 mb-20">
                  <p class="control">
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-cross"></i>
                      </span>
                      <span>Left</span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-check"></i>
                      </span>
                      <span>Center</span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-meh-face"></i>
                      </span>
                      <span>Right</span>
                    </a>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
          
        </div>
      
      </div>
    </div>
  </div>
</div>