<script>
  $(document).ready(function () {
    this_page = $(".vmargin-dss")
      .first()
      .data("page");

    $(".card").flip({ axis: 'y' });
    console.log("doc read cheatsheets");
    if (this_page == "cheatsheets") {
      // convert keycaps to actual keys
      $(".interface-1").each(function (i, val) {
        str = $(".interface-1").eq(i).text() + "";
        str = str.trim();
        // $("#interface-x").text(str);
        temp_var = str;
        keyarray = temp_var.split(", ");
        temp_var2 = "";
        $.each(keyarray, function (i, val) {
          temp_var2 = temp_var2 + ConvertKeyCaps(val);
        });
        $(".interface-1").eq(i).text("");
        $(".interface-1").eq(i).append(temp_var2);
      });
    };
  });
</script>

<section class="section ls-features-cards">
  <div class='vmargin-dss hero-body container' data-page="<%= controller.controller_name %>">
    <div class='columns'>
      <div class=' column is-12 has-text-white'>
        <div class="flexcheat">
          <div class='image-area pt-20'>
            <figure class="image is-128x128">
              <img class="" src="<%=asset_path("sets/#{@cheatsheet.image}")%>" alt="Placeholder image">
            </figure>
          </div>
          <div class=''>
            <div class="has-text-white-bis is-size-3  pt-20">
              <%= @cheatsheet.display_name %>
            </div>
            <div class="has-text-white-bis is-size-3 ">
              <p class="is-size-4">
                <%= @cheatsheet.description %>
              </p>
            </div>
          </div>
          <div class=''>
            <p class="is-size-4  pt-20"> OS:
              <strong><%= @cheatsheet.os %></strong></p>
            <p class="is-size-4"> Level:
              <strong><%= @cheatsheet.level %></strong></p>
          </div>

        </div>
      </div>
    </div>
    <div class='column is-12'>
      <div class="flexcheat">
        <% @cards.each do |card| %>

        <div class="card">
          <div class="front">
            <header class="card-header has-background-dark has-text-white-bis">
              <p class="card-header-title has-text-white-bis">
                <%= card.question %>
              </p>

            </header>
            <div class="card-content">

              <div class="content front-content">
                <% if card.interface == 1 %>
                <div class="interface is-size-5 pl-20 pt-20 pb-20 testarea keyboard">
                  <div class="testscale">
                    <div class='interface-1'>
                      <%= card.keycaps %>
                    </div>
                  </div>
                </div>
                <% elsif card.interface == 2 %>
                <!-- terminal -->
                <% elsif card.interface == 3 %>
                <!-- IDE -->
                <pre><code class="css">
                 <%= card.answer %>
                </code></pre>
                <% end  %>
              </div>
            </div>
            <footer class="">
              <i class="fa fa-info-circle is-pulled-right  pt-10 pr-40 mr-20 pb-0 con-tooltip top" aria-hidden="true">
                <div class="tooltip ">
                  <p>Click to show more</p>
                </div>
              </i>

            </footer>
          </div>
          <div class="back">
            <header class="card-header has-background-dark has-text-white-bis">
              <p class="card-header-title has-text-white-bis">
                <%= card.question %>
              </p>
            </header>
            <div class="card-content">
              <div class="content back-content">
                <% if card.description.length > 10 %>
                <div class='is-size-6 has-text-grey-dark is-uppercase'>Notes:</div>
                <div class='notes-area'>
                  <%= card.description %>
                </div>
                <% end %>
                <% if !card.mnemonic.nil? %>
                <div class='is-size-6 has-text-grey-dark is-uppercase pt-20'>Mnemonic:</div>
                <div class='mnemonic-area'>
                  <%= card.mnemonic %>
                </div>
                <% end %>
                <div class='citation-area'>
                  <%= link_to card.citation_title, card.citation_url, target: "_blank", class: "is-size-7 hast_text-success is-capitalized is-italic" %>
                </div>
              </div>
            </div>
            </footer>
            <footer class="card-footer">


            </footer>
          </div>
        </div>

        <% end %>
      </div>

    </div>
  </div>
  </div>
  </div>
</section>