<section class="section ls-features-cards">
  <div class='vmargin-dss hero-body container' data-page="<%= controller.controller_name %>">
    <div class='columns'>
      <div class='flexcheat column is-12 has-text-white'>
        <div class="flexcheat-heading">
          <p>
            <strong>Name:</strong>
            <%= @cheatsheet.display_name %>
          </p>
        </div>
        <div class="flexcheat-heading">
          <p>
            <strong>Description:</strong>
            <%= @cheatsheet.description %>
          </p>
        </div>
        <div class="flexcheat-heading">
          <p>
            <strong>OS:</strong>
            <%= @cheatsheet.os %>
          </p>
        </div>
        <div class="flexcheat-heading">
          <%= link_to 'Edit', edit_cheatsheet_path(@cheatsheet) %> |
          <%= link_to 'Back', cheatsheets_path %>
        </div>
      </div>
    </div>
    <div class='column is-12'>
      <div class="flexcheat">
        <% @cards.each do |card| %>
        <div class="card-pane">
          <div><%= card.question %></div>
          <% if card.interface == 1 %>
          <div class="interface is-size-5 pl-20 pt-20 pb-20 testarea keyboard">
            <div class="testscale">
              <div class='interface-1'>
                <%= card.keycaps %>
              </div>
            </div>
          </div>
          <% elsif card.interface == 2 %>
          <% elsif card.interface == 3 %>
          <% end  %>
        </div>



        <% end %>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>