<section class="section ls-features-cards">
  <div class='vmargin-dss hero-body container' data-page="<%= controller.controller_name %>">
    <div class='columns'>
      <div class='flexcheat column is-12 has-text-white'>
        <div class="flexcheat-heading">
          <p>
            <strong>Name:</strong>
            <%= @cheatsheet.display_name %>
          </p>
        </div>
        <div class="flexcheat-heading">
          <p>
            <strong>Description:</strong>
            <%= @cheatsheet.description %>
          </p>
        </div>
        <div class="flexcheat-heading">
          <p>
            <strong>OS:</strong>
            <%= @cheatsheet.os %>
          </p>
        </div>
        <div class="flexcheat-heading">
          <%= link_to 'Edit', edit_cheatsheet_path(@cheatsheet) %> |
          <%= link_to 'Back', cheatsheets_path %>
        </div>
      </div>
    </div>
    <div class='column is-12'>
      <div class="flexcheat">
        <% @cards.each do |card| %>

        <div class="card">
          <div class="front">
            <header class="card-header has-background-dark has-text-white-bis">
              <p class="card-header-title has-text-white-bis">
                <%= card.question %>
              </p>
            </header>
            <div class="card-content">
              <div class="content front-content">
                <% if card.interface == 1 %>
                <div class="interface is-size-5 pl-20 pt-20 pb-20 testarea keyboard">
                  <div class="testscale">
                    <div class='interface-1'>
                      <%= card.keycaps %>
                    </div>
                  </div>
                </div>
                <% elsif card.interface == 2 %>
                <% elsif card.interface == 3 %>
                <% end  %>
              </div>
            </div>
            <footer class="">
              <i class="fa fa-info-circle is-pulled-right pr-20 pt-10 pb-20" aria-hidden="true"></i>
            </footer>
          </div>
          <div class="back">
            <header class="card-header has-background-dark has-text-white-bis">
              <p class="card-header-title has-text-white-bis">
                <%= card.question %>
              </p>
            </header>
            <div class="card-content">
              <div class="content back-content">
                <% if card.description.length > 10 %>
                <div class='is-size-6 has-text-grey-dark is-uppercase'>Notes:</div>
                <div class='notes-area'>
                  <%= card.description %>
                </div>
                <% end %>
                <% if !card.mnemonic.nil? %>
                <div class='is-size-6 has-text-grey-dark is-uppercase pt-20'>Mnemonic:</div>
                <div class='mnemonic-area'>
                  <%= card.mnemonic %>
                </div>
                <% end %>
                <div class='citation-area'>
                  <%= link_to card.citation_title, card.citation_url, target: "_blank", class: "is-size-7 hast_text-success is-capitalized is-italic" %>
                </div>
              </div>
            </div>
            </footer>
            <footer class="card-footer">
              <a href="#" class="info symbolcard-footer-item">Save</a>

            </footer>
          </div>
        </div>

        <% end %>
      </div>

    </div>
  </div>
  </div>
  </div>
</section>