<!-- Hero and nav -->
<div class="hero is-relative is-theme-secondary is-bold hero-waves">
    <%= render  "layouts/navigation" %>
    <!-- Hero image -->
    <div class='container'>
        <div class="feature-card card-md light-bordered hover-inset has-text-centered">
            <div class="card-icon">
                <img src="assets/images/icons/wallet.svg" alt="">
            </div>
            <div class="card-title">
                <h4>Some title</h4>
            </div>
            <div class="card-feature-description">
                <span class="">Lorem ipsum dolor sit amet, clita laoreet ne cum. His caelus elet cu harum inermis iudicabit.</span>
            </div>
            <a href="#" class="button btn-align btn-more is-link color-primary">
                Learn more <i class="sl sl-icon-arrow-right"></i>
            </a>
        </div>
        
    </div>
    <div id="main-hero" class="hero-body ">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5 header-caption">
              <h1 class="title is-3">
                  xSETS
              </h1>
              
              <p class="pt-10 pb-10">
                  <a href="#features" class="button button-cta btn-align btn-outlined is-bold light-btn rounded z-index-2">
                      Get Started
                  </a>
              </p>
          </div>
          
        </div>
      </div>
      <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <!-- Card -->
            <div class="column is-4">
              <div class="card ressource-card">
                <div class="card-image">
                  <figure class="image is-4by3 zoomIn">
                    <img src=<%= asset_path("moon-mountains.png") %> alt="">
                  </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <a href="#" class="color-primary">Work with less inbound emails</a>
                        <p class="subtitle is-6">Learning Center this is more text to see what the css does to it. Hopefully nothing to drastic.</p>
                        <div class="has-text-right">
                          <a class="button btn-align accent-btn raised fix-sets-btns" >Add Set</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- /Card -->

            <!-- Card -->
            <div class="column is-4">
              <div class="card ressource-card">
                <div class="card-image">
                  <figure class="image is-4by3 zoomIn">
                    <img src=<%= asset_path("big-moon.jpg") %> alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <a href="#" class="color-primary">Work with less inbound emails</a>
                      <p class="subtitle is-6">Learning Center this is more text to see what the css does to it. Hopefully nothing to drastic.</p>
                      <div class="has-text-right">
                        <a class="button btn-align accent-btn raised fix-sets-btns" >Add Set</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Card -->

            <!-- Card -->
            <div class="column is-4">
              <div class="card ressource-card">
                <div class="card-image">

                    <figure class="image is-4by3 zoomIn">
                        <img src=<%= asset_path("ice-mountains.png") %> alt="">
                    </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <a href="#" class="color-primary">Work with less inbound emails</a>
                      <p class="subtitle is-6">Learning Center this is more text to see what the css does to it. Hopefully nothing to drastic.</p>
                      <div class="has-text-right">
                        <a class="button btn-align accent-btn raised fix-sets-btns" >Add Set</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Card -->
            <!-- Card -->
            <div class="column is-4">
                <div class="card ressource-card">
                  <div class="card-image">
  
                      <figure class="image is-4by3 zoomIn">
                          <img src=<%= asset_path("ice-mountains.png") %> alt="">
                      </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <a href="#" class="color-primary">Work with less inbound emails</a>
                        <p class="subtitle is-6">Learning Center this is more text to see what the css does to it. Hopefully nothing to drastic.</p>
                        <div class="has-text-right">
                          <a class="button btn-align accent-btn raised fix-sets-btns" >Add Set</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /Card -->
          </div>
      </div>
    </div>
    <!-- /Hero image -->
    
  </div>
  <!-- /Hero and nav -->

  
  <%= render  "layouts/darkfooter" %>